@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: 'SFProDisplay-bold';
	src: url('../fonts/SFProDisplay-Bold.woff') format('woff'),
		url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'SFProDisplay-medium';
	src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
		url('../fonts/SFProDisplay-Medium.woff') format('woff');
	font-weight: medium;
}

@font-face {
	font-family: 'SFProDisplay-normal';
	src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
		url('../fonts/SFProDisplay-Regular.woff') format('woff');
	font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
